/* CSS SERVICIOS (contenedor de cajas)*/

.service-theme {
    background-image: url(../img/bg-animal_print.jpeg);

    .contenedor-cajas {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        h1 {
            @extend.titulos-h1;
        }

        .boxService {
            margin: 15px auto 15px;
            width: 350px;
            background-color: $leter-color;
            border-radius: 10px;
            overflow: hidden;
            line-height: 1.5;
            box-shadow: 0px 0px 5px 10px #dcbaff66;

            &:hover {
                box-shadow: 0px 0px 10px 15px #ae68f366;
            }

            img {
                width: 100%;
            }

            h3 {
                text-align: center;
                padding: 15px;
            }

            p {
                padding: 20px 30px;
            }
        }
    }
}