@import"mixin-variables";

* {
    margin: 0;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgb(0, 0, 0);

    body {
        max-width: 1380px;
        height: 100%;
        margin: auto;
    }
}

/* NAV */

header {
    background-color: $bg-color;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1380px;
    height: 150px;
    align-items: center;
    z-index: 20;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 350px;
            height: 120px;
        }

        #home {
            display: none;
        }

        .menuHide {
            width: 100%;
            padding: 15px;
            text-align: center;
            background: $btn-hover-color;
            border-radius: 10px;
            display: none;
            color: $leter-color
        }

        .opcionesResponsive {
            width: 100%;
            height: 500px;
            position: absolute;
            top: 200px;
            text-align: center;
            display: none;
            z-index: 20;

            li {
                a {
                    display: block;
                    background: $btn-color;
                    padding: 25px 0;
                    color: #ffff;

                    &:hover {
                        background-color: $btn-hover-color;
                    }
                }
            }
        }

        .opciones {
            display: flex;
            height: 60px;
            gap: 5px;
            align-items: center;

            li {
                transition: all .3s;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    background: $btn-color;
                    padding: 25px;
                    border-radius: 10px;
                    color: #ffff;

                    &:hover {
                        background-color: $btn-hover-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


/*CONTENIDO INDEX*/

.index-theme {
    background-image: url(../img/background-index.png);
    background-size: 100% 100%;
    width: 100%;

    @include lg-screen() {
        height: 100vh;
    }

    .titulo {
        background-color: rgba(0, 0, 0, 0.7);
        color: $leter-color;

        @include lg-screen() {
            height: 100vh;
        }

        h1 {
            text-align: center;
            color: $btn-color;
            padding: 30px;
            font-size: 2.2rem;
        }

        h3 {
            text-align: center;
            color: #dda0dd;
            font-size: 2rem;
            padding: 20px;
        }

        p {
            text-align: justify;
            padding: 20px 100px;
            font-size: 1.8rem;
            line-height: 1.5;
        }
    }
}

/* ESTILO DEL FOOTER */

footer {
    background-color: $bg-color;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .izquierda {
        padding: 0 22px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 280px;
            height: 110px;
            padding: 10px;
        }

        p {
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .derecha {
        padding: 0 22px;

        img {
            width: 70px;
            height: 70px;
            padding: 5px 5px;

            &:hover {
                transform: scale(1.1);
            }
        }

        p {
            text-align: center;
            padding: 5px;
        }
    }
}

/* CSS DE GALERIAS */

.galeria-tema {
    background-image: url(../img/bg-animal_print.jpeg);

    .galeria {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-evenly;

        h1 {
            @extend .titulos-h1;
        }

        img {
            width: 280px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 8px;

            @include xs-phone() {
                width: 350px !important;
            }
        }
    }

    .modal {
        display: none;

        &:target {
            display: block;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.9);
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: 30;

            @include xs-phone() {
                display: none;
            }
        }

        .imagen {
            margin-top: 60px;
            width: 100%;
            height: 80%;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;

            @include xs-phone() {
                width: 100%;
                height: 60%;
                margin-top: 100px;
            }

            a {
                color: $leter-color;
                font-size: 40px;
                text-decoration: none;

                &:nth-child(2) {
                    margin: 0%;
                    height: 100%;
                    flex-shrink: 2;
                }
            }

            img {
                width: 100%;
                height: 100%;
                margin: 0px auto;
                border: 5px solid $leter-color;
                border-radius: 5px;
            }
        }

        .cerrar {
            display: block;
            width: 25px;
            height: 25px;
            margin: 10px auto;
            font-size: 30px;
            color: $leter-color;
        }
    }
}

/* CSS SERVICIOS (contenedor de cajas)*/

.service-theme {
    background-image: url(../img/bg-animal_print.jpeg);

    .contenedor-cajas {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        h1 {
            @extend.titulos-h1;
        }

        .boxService {
            margin: 15px auto 15px;
            width: 350px;
            background-color: $leter-color;
            border-radius: 10px;
            overflow: hidden;
            line-height: 1.5;
            box-shadow: 0px 0px 5px 10px #dcbaff66;

            &:hover {
                box-shadow: 0px 0px 10px 15px #ae68f366;
            }

            img {
                width: 100%;
            }

            h3 {
                text-align: center;
                padding: 15px;
            }

            p {
                padding: 20px 30px;
            }
        }
    }
}


/*  CSS AGENDA */

.agenda {
    background-image: url(../img/bg-agenda.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

    h1 {
        @extend .titulos-h1
    }

    .lista-precios {
        img {
            width: 100%;
            margin-top: 15px;
            opacity: 0.8;
            border-radius: 10px;
        }
    }

    form {
        background-color: rgba(174, 18, 145, 0.8);
        margin-top: 15px;
        font-size: 22px;
        color: $leter-color;
        width: 500px;
        height: 450px;
        border: none;
        border-radius: 10px;

        input {
            margin: 20px 0px;
        }

        legend {
            h3 {
                background: $btn-color;
                background: linear-gradient(180deg, #22c1c3 0%, #e65cf0 100%);
                color: $leter-color;
                border-radius: 5px;
                padding: 5px;
            }
        }

        div {
            label {
                margin-left: 10px;
            }
        }

        .btn-field {
            display: flex;
            justify-content: center;

            input {
                color: $leter-color;
                background-color: #8a2be2;
                padding: 10px 20px;
                border: none;
                box-shadow: 0 0 5px #ffff;

                &:hover {
                    cursor: pointer;
                    background: #aa66ea;
                }
            }
        }
    }
}


/* CSS CONTACTO */

.info-map {
    width: 100%;
    background: #eeaeae;
    background: radial-gradient(circle, #eeaeae 25%, #1790ff 87%);

    .map {
        text-align: center;
        padding-bottom: 50px;

        h1 {
            padding: 20px;
            color: $leter-color;
        }

        iframe {
            @include xs-phone() {
                width: 350px;
                height: 350px;
            }
        }

        h2 {
            @include txtMap()
        }

        p {
            @include txtMap()
        }
    }
}

/* CURSOS CSS */

.bg-color {
    background-color: $btn-color;
    color: $leter-color;
}

.tituloColor {
    color: rgb(88, 19, 152) !important;
}

.bg-nav {
    background-color: rgb(221, 137, 221);
    color: $leter-color;
    font-size: 1.5rem;
}

.sizeTitulo {
    font-size: 1.5rem;
}

.size-p {
    font-size: 1.2rem;
}

.cursosPosition {
    z-index: 10;
}

.bg-cursos{
    background-color: $btn-color;
}

/* MEDIAS QUERIES */

@media (max-width: 920px) {
    header {
        height: 200px;

        nav {
            flex-direction: column;

        }
    }

    .opciones {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .lista-precios {
        margin: auto;

    }

}

@media (max-width: 719px) {
    .menuHide {
        display: block !important;
        margin-top: 30px;
    }

    .opcionesResponsive {
        display: block !important;
        left: -100%;
        transition: all 0.3s linear;
    }

    .opciones {
        display: none !important;
    }

    nav #home:checked+label~.opcionesResponsive {
        left: 0%;
    }

    .index-theme {
        background-image: url(../img/vertical.jpg);
        background-size: 100% 100%;

        .titulo {
            p {
                padding: 20px 50px;
            }
        }
    }

    .agenda {
        padding-bottom: 15px;
    }

    .galeria {
        a {
            img {
                width: 190px !important;
            }
        }
    }

    .imagen {
        margin-top: 100px;
        width: 100%;
        height: 75%;

        a {
            font-size: 20px;
        }
    }


    iframe {
        width: 390px;
        height: 390px;
    }

    .map p {
        font-size: 1.5rem;
    }

}